/* Estilos básicos para dispositivos móviles */
body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden; /* Solo oculta el scroll horizontal, permite el scroll vertical solo si es necesario */
}

.tasks {
  min-height: 20vh;
  width: 100%;
}

h2.title {
  text-align: center;
  margin-bottom: 10px; /* Reduce el espacio debajo del título */
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.task-header {
  display: flex;
  align-items: center;
}

.task-title {
  flex-grow: 1;
}

.priority-low {
  background-color: #32bb70;
}

.priority-medium {
  background-color: #f6be06;
}

.priority-high {
  background-color: #f14a0e;
}

#addTaskBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

/* Contenedor de columnas */
.columns-container {
  overflow-x: auto; /* Permitir scroll horizontal */
  overflow-y: hidden; /* No permitir scroll vertical en pantallas grandes */
  white-space: nowrap;
  width: 100%;
  max-height: 80vh;
  padding-top: 10px; /* Reducimos el espacio entre el header y las columnas */
  border-radius: 25px;
  height: 100%;
}

.columns {
  display: flex;
  flex-wrap: nowrap; /* Sin wrapping para resoluciones grandes */
  height: calc(100vh - 50px); /* Ajusta la altura de las columnas */
  margin: 2px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden; /* Oculta el desbordamiento */
}

.tasks-container {
  flex-grow: 1;
  max-height: 60vh;
  overflow-y: auto; /* Permite el desplazamiento vertical solo dentro del contenedor de tareas */
  padding-top: 10px; /* Espacio entre el título y las tareas */
}

.column-title {
  background-color: #ffffff; /* Color de fondo para el título */
  padding: 10px;
  margin: 0;
  z-index: 3; /* Asegura que el título esté sobre la imagen de fondo */
  position: -webkit-sticky; /* Soporte para Safari */
  position: sticky;
  top: 0;
  border-radius: 25px;
}

/* Estilos para el modo oscuro */
[data-theme="dark"] .column-title {
  color: #ffffff; /* Color de las letras en modo oscuro */
  background-color: #333333; /* Color de fondo en modo oscuro */
}

/* Estilos para pantallas de tablet o más grandes (>= 768px) */
@media screen and (min-width: 768px) {
  .columns {
    flex-wrap: nowrap; /* No envuelve las columnas */
    height: calc(100vh - 50px); /* Ajusta la altura de las columnas */
  }

  .column {
    width: 48%; /* Ajusta el ancho de las columnas en tablets */
    margin-bottom: 0;
  }
}

/* Estilos para pantallas de escritorio o más grandes (>= 1024px) */
@media screen and (min-width: 1024px) {
  .columns {
    flex-wrap: nowrap;
    height: calc(100vh - 50px);
  }

  .column {
    flex: 1; /* Cada columna ocupa una parte del contenedor */
  }
}

/* Scroll vertical solo en pantallas de 425px de ancho o menos */
@media screen and (max-width: 425px) {
  .columns-container {
    overflow-y: auto; /* Permitir scroll vertical solo en pantallas pequeñas */
  }

  .columns {
    flex-wrap: wrap;
    height: auto; /* Permitir que las columnas crezcan verticalmente */
  }
}
